body{
    font-size: large;
    background-color: white;
    
    
}
.img{
    margin-left: 0%;
}

 .navbar ul li{
    list-style-type: none;
    gap: 3%;
    background-color: gray;
    width: 100%;
    
}
.detail h2{
    margin-left: 30%;
}
li a{
    color: white;
    text-decoration: none;
    font-size:x-large;
    display: flex;
    gap: 4%;
    padding: 30px;
    list-style-type: none;
    

}
.list_navbar{
    width: 100%;
   
}
.nav{
    display: flex;
    width: 90%;
}
.container{
    margin-left: 10%;
}
.detail{
    margin-left: 7%;
    font-size: xx-large;
    margin-bottom: 4%;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.achievements_heading{
    margin-left: 30%;
    font-size: 250%;
    margin-top: 4%;
    color: gray
}
.navbar{
    display: flex;
    gap: 6%;
}
.achievements{
    display: flex;
    gap: 15%;
    /* margin-left: 20%; */
    margin-bottom: 4%;
    margin-top: 3%;
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.goals_heading{
    margin-left: 30%;
    font-size: 250%;
    color: gray;
    margin-bottom: 4%;
}
.goals{
    display: flex;
    gap: 20%;
    margin-bottom: 4%;
    margin-top: 3%;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.goals ul{
    
    gap: 17%; 
}
.back_button{
    background-color: pink;
    padding: 24px;
    width: 20%;
    margin-top: 5%;
    margin-left: 40%;
}
#logo{
    width: 50%;
    height: 70%;
}
.footer{
        display: flex;
        gap: 28%;
        padding: 34px;
        text-align: center;
        background-color: gray;
        font-size: larger;
        color: aliceblue;
        width: 90%;
       
}
.back_button a{
    text-decoration: none;
    color: black;
}

@media screen and (min-width:200px) and (max-width:500px) {
    body{
        font-size: large;
        background-color: white;
        
        
    }
    .img{
        width: 20%;
    }
    
     .navbar ul li{
        list-style-type: none;
        gap: 3%;
        background-color: gray;
    }
    .detail h2{
        margin-left: 5%;
    }
    li a{
        color: white;
        text-decoration: none;
        font-size:large;
        display: block;
        gap: 4%;
        padding: 18px;
        
    
    }
    .nav{
        display: block;
        width: 70%;
    }
    .container{
        margin-left: 1%;
    }
    .detail{
        margin-left: 1%;
        font-size: large;
        margin-bottom: 4%;
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .achievements_heading{
        margin-left: 8%;
        font-size: 250%;
        margin-top: 4%;
        color: gray
    }
    .navbar{
        display: block;
        gap: 6%;
    }
    .achievements{
        display: block;
        gap: 10%;
        /* margin-left: 20%; */
        margin-bottom: 4%;
        margin-top: 3%;
        font-size:larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .goals_heading{
        margin-left: 1%;
        font-size: 250%;
        color: gray;
        margin-bottom: 4%;
    }
    .goals{
        display: block;
        gap: 16%;
        /* margin-left: 20%; */
        margin-bottom: 3%;
    
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .goals ul{
        
        gap: 15%; 
    }
    .back_button{
        background-color: pink;
        padding: 24px;
        width: 20%;
        margin-top: 5%;
        margin-left: 40%;
    }
    .footer{
            display: block;
            gap: 28%;
            padding: 34px;
            text-align: center;
            background-color: gray;
            font-size: larger;
            color: aliceblue;
            width: 70%;
           
    }
}
@media screen and (min-width:501px) and (max-width:990px) {
    body{
        font-size: large;
        background-color: white;
        
        
    }
    .navbar img{
        margin-left: 0%;
        width: 21%;
    }
    
     .navbar ul li{
        list-style-type: none;
        gap: 2%;
        background-color: gray;
    }
    .detail h2{
        margin-left: 20%;
    }
    li a{
        color: white;
        text-decoration: none;
        font-size: large;
        display: flex;
        /* flex-wrap: wrap; */
        gap: 3%;
        padding: 20px;
        
    
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    .list_navbar{
        width: 90%;
    }
    .container{
        margin-left: 1%;
    }
    .detail{
        margin-left: 7%;
        font-size: xx-large;
        margin-bottom: 4%;
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .achievements_heading{
        margin-left: 20%;
        font-size: 250%;
        margin-top: 4%;
        color: gray
    }
    .navbar{
        display: block;
        gap: 0%;
    }
    .achievements{
        display: flex;
        gap: 8%;
        /* margin-left: 20%; */
        margin-bottom: 4%;
        margin-top: 3%;
        font-size:xx-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .goals_heading{
        margin-left: 20%;
        font-size: 250%;
        color: gray;
        margin-bottom: 4%;
    }
    .goals{
        display: flex;
        gap: 10%;
        /* margin-left: 20%; */
        margin-bottom: 3%;
    
        font-size: xx-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .goals ul{
        
        gap: 15%; 
    }
    .back_button{
        background-color: pink;
        padding: 24px;
        width: 20%;
        margin-top: 5%;
        margin-left: 40%;
    }
    .footer{
            display: flex;
            gap: 28%;
            padding: 34px;
            text-align: center;
            background-color: gray;
            font-size: larger;
            color: aliceblue;
            width: 90%;
           
    }
    
}
    