.logo{
    width: 50%;
    
}
 .navbar ul{
    display: flex;
    background-color: gray;
    width: 200%;
    gap: 6%;
    padding: 20px;
    color: white;
    margin-bottom: 4%;
    list-style-type: none;
    
} 
.navbar ul li a{
    color:white;
    font-size: large;
    text-decoration: none;


}
.mentors_page{
    padding: 12px;
    font-size: x-large;
}
.heading{
    text-align: center;
    margin-bottom: 5%;
    
}
.topnav{
    display: flex;
    gap: 8%;
}

.mentortext{
    display: flex;
    gap: 20%;
    margin-left: 25%;

}
.back_button{
    background-color: pink;
    padding: 24px;
    width: 20%;
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 4%;
}
.footer{
        display: flex;
        gap: 28%;
        padding: 34px; 
        text-align: center;
        background-color: gray;
        font-size: larger;
        color: aliceblue;
        width: 80%;
        /* margin-left: 10%; */
}
.mentorimage{
    width: 130%;
    height: 80%;
}
@media screen and (min-width: 200px) and (max-width: 500px){
    .logo{
        width: 30%;
        
    }
     .navbar ul{
        display: block;
        background-color: gray;
        width: 100%;
        gap: 3%;
        padding: 20px;
        color: white;
        margin-bottom: 4%;
        list-style-type: none;
        
    } 
    .navbar{
        width: fit-content;
    }
    .navbar ul li a{
        color:white;
        font-size: large;
        text-decoration: none;
    
    
    }
    .mentors_page{
        padding: 12px;
        font-size: x-large;
    }
    .heading{
        text-align: center;
        margin-bottom: 5%;
        
    }
    .topnav{
        display: block;
        
    }
    
    .mentortext{
        display: block;
        gap: 20%;
        margin-left: 25%;
    
    }
    .back_button{
        background-color: pink;
        padding: 24px;
        width: 30%;
        margin-top: 4%;
        margin-left: 40%;
        margin-bottom: 4%;
    }
    .footer{
            display: flex;
            flex-wrap: wrap;
            gap: 28%;
            padding: 34px; 
            text-align: center;
            background-color: gray;
            font-size: larger;
            color: aliceblue;
            width: 75%;
            /* margin-left: 10%; */
    }
    .mentorimage{
        width: 90%;
        height: 80%;
    } 
}
@media screen and (max-width:501px) and (min-width:990px){
    .logo{
        width: 50%;
        
    }
     .navbar ul{
        display: flex;
        background-color: gray;
        width: 60%;
        /* gap: 6%; */
        padding: 20px;
        color: white;
        margin-bottom: 4%;
        list-style-type: none;
        
    } 
    .navbar ul li a{
        color:white;
        font-size: large;
        text-decoration: none;
    
    
    }
    .mentors_page{
        padding: 12px;
        font-size: x-large;
    }
    .heading{
        text-align: center;
        margin-bottom: 5%;
        
    }
    .topnav{
        display: flex;
    }
    
    .mentortext{
        display: flex;
        gap: 20%;
        margin-left: 5%;
    
    }
    .back_button{
        background-color: pink;
        padding: 24px;
        width: 20%;
        margin-top: 2%;
        margin-left: 40%;
        margin-bottom: 4%;
    }
    .footer{
            display: flex;flex-wrap: wrap;
            gap: 14%;
            padding: 34px; 
            text-align: center;
            background-color: gray;
            font-size: larger;
            color: aliceblue;
            width: 90%;
            /* margin-left: 10%; */
    }
    .mentorimage{
        width: 100%;
        height: 80%;
    }
}
