.books{
    display: block;
    gap: 10%;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.book_image{
margin-left: 18%;
/* border:  3px solid ;  */
width: 25%;
margin-bottom: 5%;
padding: 40px;
padding-left: 10%;
object-fit: cover;
/* background-color: aquamarine; */


}
.book_summary{
    margin-left: 18%;
}
#image{ 
    width: 120%;
}
@media screen and (min-width:260px) and (max-width:650px){
    .books{
        display: block;
        gap: 10%;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    .book_image{
    margin-left: 3%;
    border:  3px solid ; 
    width: 20%;
    margin-bottom: 4%;
    padding: 30px;
    padding-left: 8%;
    object-fit: cover;
    background-color: aquamarine;
    
    
    }
    .book_summary{
        margin-left: 18%;
    }  
}