.form{
    padding: 20px;
    width: 70%;
    text-align: center;
    border: 4px black 3px solid;
}
.body{
    width: 80%;
    border-radius: 8%;
    font-size: x-large;

}

.bodyheading{
    margin-left: 10%;
    text-align: center;
    margin-bottom: 2%;
    font-size: x-large;
}

#maincontainer{
    margin-left: 30%;
    
}
#maincontainer input{
    border: solid, 1px, black;
    background: transparent;
    border-radius: 10%;
    width: 28%;
    height: 30%;
    padding: 18px;
    margin-bottom: 3%;
    margin-left: 2%;
    
}
.logo_image{
    width: 20%;
    margin-left: 10%;
}
.signupButton{
    width: 60%;
    height: 10%;
    background-color: gray;
    padding: 20px;
    margin-left: 0%;
    margin-bottom: 4%;

}
.signupButton a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.accounts a {
    font-size: large;
    text-decoration: none;
    text-align: center;

}
#log{
    width: 50%;
    height: 70%;
}
@media screen and (min-width: 200px)and (max-width: 500px){
    .form{
        padding: 20px;
        width: 100%;
        border: 4px black 3px solid;
    }
    .body{
        width: 100%;
        border-radius: 8%;
        font-size: large;
    
    }
    
    .bodyheading{
        margin-left: 0%;
        text-align: center;
        margin-bottom: 2%;
        font-size: x-large;
    }
    
    #maincontainer{
        margin-left: 0%;
        
    }
    #maincontainer input{
        border: solid, 1px, black;
        background: transparent;
        border-radius: 10%;
        width: 28%;
        height: 30%;
        padding: 18px;
        margin-bottom: 3%;
        margin-left: 1%;
        
    }
    .logo_image{
        width: 20%;
        margin-left: 10%;
    }
    .signupButton{
        width: 60%;
        height: 10%;
        background-color: gray;
        padding: 20px;
        margin-left: 0%;
        margin-bottom: 4%;
    
    }
    .signupButton a{
        color: white;
        text-decoration: none;
        font-size: larger;
    }
    .accounts a {
        font-size: large;
        text-decoration: none;
        text-align: center;
    
    }
}
    
@media screen and (min-width: 501px)and (max-width: 990px){
    .form{
        padding: 20px;
        width: 70%;
        text-align: center;
        border: 4px black 3px solid;
    }
    .body{
        width: 80%;
        border-radius: 8%;
        font-size: x-large;
    
    }
    
    .bodyheading{
        margin-left: 10%;
        text-align: center;
        margin-bottom: 2%;
        font-size: x-large;
    }
    
    #maincontainer{
        margin-left: 30%;
        
    }
    #maincontainer input{
        border: solid, 1px, black;
        background: transparent;
        border-radius: 10%;
        width: 28%;
        height: 30%;
        padding: 18px;
        margin-bottom: 3%;
        margin-left: 2%;
        
    }
    .logo_image{
        width: 20%;
        margin-left: 10%;
    }
    .signupButton{
        width: 60%;
        height: 10%;
        background-color: gray;
        padding: 20px;
        margin-left: 0%;
        margin-bottom: 4%;
    
    }
    .signupButton a{
        color: white;
        text-decoration: none;
        font-size: larger;
    }
    .accounts a {
        font-size: large;
        text-decoration: none;
        text-align: center;
    
    }
}
